<%-include("header")-%>
<section class="testimonial">
  <!-- <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" data-interval="5000" >
  <div class="carousel-inner" > -->
    <form class="" action="/" method="post">
      <div class="homeview">

        <% arr.forEach(function(data){ %>
          <%if(data.choice==1){%>
            <div class="card text-center">
            <div class="card-header">
             <%=data.srs1%>(<%=data.mnum1%>)
           </div>
           <div class="card-body">
            <h2 class="card-title"><%=data.battingteam1%><h6>Vs (<%=data.bowlingteam1%>)</h6> <h1 style="padding:20px 0;"><em><%=data.runs1%>/<%=data.wkt1%><h6>(<%=data.overs%> overs)</h6></em></h1></h2>
            <a href="/match/<%=data.m%>" class="btn btn-sm btn-primary">View Score</a>
           </div>
          <div class="card-footer text-muted">
            <%=data.status1%>
            </div>

          </div>
          <br>
          <br>



           <!-- </div> -->
        <%  }else if (data.choice==2) {%>
          <div class="card text-center">
  <div class="card-header">
    <%=data.mnum1%>
  </div>
  <div class="card-body">
    <h2 class="card-title"><%=data.srs1%></h2>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-muted">
    <%=data.status1%>
  </div>
</div>
<br>
<br>

        <%  }%>


       <%})%>

       </div>

    </form>




    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
    </div>
    </section>


<%-include("footer")-%>
